@charset "UTF-8";

.calenderWrapper {
  width: 80%;
  margin: 0 auto;
}

#year {
  text-align: right;
  width: 50px;
}

.spendingTable {
  display: flex;
}

.calenderTable {
  width: 400px;
  height: 400px;
}

.dayButton {
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  cursor: pointer;
  border: none;
}
.dayButton:hover {
  background-color: aqua;
}

.dayOtherMonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.dayOfWeek {
  height: 30px;
  background-color: tomato;
}

.totalTable {
  width: 400px;
}

.totalNum {
  height: 30px;
}

.detail {
  height: 300px;
}

.detailTable {
  width: 400px;
}

.detail {
  margin-left: 100px;
}
